body {
  display: flex;
  background-color: black;
  margin: 50px;
}

.card-body {
  background-color: rgb(73, 133, 161);
}

#sec1 {
  background-color: rgb(165, 4, 42);
}

.col {
  align-content: center;
}


img {
  display: flex;
  object-position: center;
  
}

#size {
  font-size: 12px;
}

h2 {
  text-align: center;
  background-color: gray;
  font-family: 'Chivo Mono', monospace;
 color: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid lightblue;
}

h5 {
  font-weight: bold;
}

h6 {
  background-color: darkgray;
  color: yellow;
}

footer {
  font-size: 10px;
}

#size {
  font-size: 15px;
}
