body {
  display: flex;
  background-color: #a7bcb9;
  margin: 50px;
}

#card {
  box-shadow: 2px 2px;
}

.card-body {
  background-color: rgb(73, 133, 161);
}

#sec1 {
  background-color: #e0ebeb;
  
}

.col {
  align-content: center;
}


img {
  display: flex;
  object-position: center;
  width: 200px;
  background-image: url(' <img class="overlay" src="https://raw.githubusercontent.com/morecallan/css102-e6/master/images/soldOut.png" alt="">');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .7;
}


#size {
  font-size: 12px;
}

h2 {
  text-align: center;
  background-color: gray;
  font-family: 'Chivo Mono', monospace;
 color: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid lightblue;
}

h5 {
  font-weight: bold;
}

h6 {
  background-color: darkgray;
  color: yellow;
}

footer {
  font-size: 10px;
}

#size {
  font-size: 15px;
}
