
  body {
    display: flex;
    background-color: #a7bcb9;
    margin: 50px;
  }



.card-body {
  background-color: rgb(73, 133, 161);
  
  
}

#sec1 {
  background-color: #e0ebeb;
  
}

.col {
  align-content: center;
}


img {
  display: flex;
  object-position: center;
  width: 200px;
}

.overlay {
  position: absolute;
}




#size {
  font-size: 12px;
}

h2 {
  text-align: center;
  background-color: gray;
  font-family: 'Chivo Mono', monospace;
 color: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid lightblue;
}

h5 {
  font-weight: bold;
  font-family: "Sofia", sans-serif;
}

h6 {
  background-color: darkgray;
  font-family: "Audiowide", sans-serif;
  color: yellow;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px;
  margin-bottom: -.0005px;
}

footer {
  font-size: 10px;
}

#size {
  font-size: 15px;
}
